<mat-nav-list appAccordion>
  <div *ngFor="let menuitem of menuItems.getMenuItems()">
    <mat-list-item class="mt-3" style="background-color: snow; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);"
                   appAccordionLink *ngIf="menuitem.type === 'link'
        && (menuitem.role === '' || menuitem.role === userRole)"
                   routerLinkActive="selected" group="{{menuitem.state}}">
      <a class="" appAccordionToggle [routerLink]="['/cafe/', menuitem.state]">
        <i class="fa fa-home" *ngIf="menuitem.state === 'dashboard'"><span> {{ menuitem.name }}</span></i>
        <i class="fa-duotone fa-solid fa-bowl-food"
           *ngIf="menuitem.state === 'category'"><span> {{ menuitem.name }}</span></i>
        <i class="fa-brands fa-product-hunt"
           *ngIf="menuitem.state === 'product'"><span> {{ menuitem.name }}</span></i>
        <i class="fa-duotone fa-solid fa-cart-shopping"
           *ngIf="menuitem.state === 'order'"><span> {{ menuitem.name }}</span></i>
        <i class="fa-sharp fa-solid fa-receipt"
           *ngIf="menuitem.state === 'bill'"><span> {{ menuitem.name }}</span></i>
      </a>
    </mat-list-item>
  </div>

</mat-nav-list>

