mat-card{
  padding: 20px !important;
  background: white !important;
}
th, td {
  text-align: center;
  padding: 10px;
  vertical-align: middle;
}
//.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
//  color: #000; /* or any color that provides good contrast with your background */
//}
//Copy::ng-deep .mat-mdc-form-field .mdc-line-ripple::before,
//::ng-deep .mat-mdc-form-field .mdc-line-ripple::after {
//  border-bottom-color: purple !important;
//}
//
//::ng-deep .mat-mdc-form-field.mat-focused .mdc-line-ripple::after {
//  border-bottom-color: purple !important;
//}
//
//::ng-deep .mat-mdc-form-field .mat-mdc-form-field-infix {
//  color: black !important;
//}
