<mat-card class="card">
  <div class="card-body">
    <span class="card-title"> <b>Manage Category</b></span>
    <button mat-raised-button type="button" color="primary" class="float-end" (click)="handleAddAction()"><i
      class="fa-duotone fa-solid fa-circle-plus"></i>
      Add Category
    </button>
  </div>
</mat-card>
<hr>
<mat-card class="card">
  <mat-form-field class="sb-mat-form-field w-100" [ngStyle]="{'color': '#1a1e21'}">
    <mat-label style="color: #1a1e21">Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
    <mat-hint align="start" style="color: #1a1e21;">Hint text</mat-hint>
  </mat-form-field>
</mat-card>
<hr>
<div class=" responsive_table">
  <table mat-table class="table mat-elevation-z8" [dataSource]="dataSource" style="background-color: snow">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>
        Action
      </th>
      <td mat-cell *matCellDef="let element" class="action-link">
        <button mat-icon-button color="primary" matTooltip="Edit" (click)="handleEditAction(element)">
          <i class="fa fa-edit"></i>
        </button>
      </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns; sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
  </table>
</div>
